$primary-color:rgb(42, 134, 42);
$lightprimary:rgb(42, 134, 42);
$darkprimary:rgb(34, 102, 34);
$black:#000;
$lightblack:rgb(59, 57, 57);
$box-shadow: 1px 2px 2px 2px rgba(125, 143, 113, 0.1);
$white: #fff;
$lightwhite:rgb(212, 212, 212);
$dimWhite:#e1ece1;
$iconBackground:rgb(224, 243, 215);
