@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import './variables.scss';
@import "./actiontext.scss";


* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

.banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), image-url('blog_banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    height: 60vh;
    width: 100%;

    .heading1 {
        color: #fff;
        text-shadow: 0px 2px;
        font-weight: 900;
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-transform: uppercase;
    }
}

body {
    background-color: #f1f1f1 !important;


    .spacing {
        margin-top: 60px;
    }
}

.title {
    font-weight: 200;
    text-shadow: 0px 1px;
}

.navbar {
    #logo {
        width: auto;
        height: 20px;

    }

}



.navbar {

    #logo {
        width: auto;
        height: 50px;
    }

    .navbar-nav {
        .nav-item {
            .active {
                font-weight: 900;
                color: $darkprimary;
            }

            .nav-link {
                color: rgb(43, 20, 141);
                font-weight: 400;

            }
        }
    }
}


.pagination{
    color:#53439b;
    font-weight:600;
    margin: 10px;
    
}

.list {
    list-style-type: none;

}

.recent-article {


    .heading {
        font-size: 22px;
        font-weight: 600;
        color: rgb(37, 136, 45);
    }
}

.footer {
    .footer-top {
        background-color: $lightprimary;


        .c_title {
            color: $dimWhite;
            font-weight: 600;
            padding-top: 30px;

        }

        .c_description {
            color: $lightwhite;
            font-size: 14px;
        }

        .icon {
            display: flex;
            flex-direction: row;

            li i {
                color: $white;
                font-size: 22px;
                margin-right: 15px;
            }

            ul li a {
                text-decoration: none;
                color: $lightwhite;
                font-size: 14px;
            }

            &:not(:last-child) {
                margin-right: 15px;
            }
        }

        ul.f_link li a {
            text-decoration: none;
            color: $dimWhite;
            font-size: 14px;
        }

        .footer-contact {
            li {
                display: flex;
                flex-direction: row;

                span {
                    color: $lightwhite;
                    margin-right: 10px;
                    color: $lightwhite;
                }

                p {
                    color: $lightwhite;
                    font-size: 14px;

                }

            }
        }
    }

    .footer-chain {
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $lightwhite;
        font-size: 14px;
        margin-bottom: 0px;
        background-color: $darkprimary;
    }
}

.r_recent {
    width: auto;
    height: 20px;
}


.add_new {
    display: flex;
    flex-direction: end;
}

.fas {
    margin-left: 10px;
    display: flex;
    align-items: flex-end;

}

.box {
    background-color: $white;
    box-shadow: $box-shadow;
    border-radius: 10px;

    .card-body {
        .heading {
            font-size: 45px !important;
        }
    }
}

.img_box {
    box-shadow: $box-shadow;
    border-radius: 10px;
    margin: 20px;
    width: 500px;

}

.search {
    border: none;
}

.digg_pagination {
    // background: white;
    cursor: default;
    /* self-clearing method: */ }
    .digg_pagination a, .digg_pagination span, .digg_pagination em {
      padding: 0.2em 0.5em;
      display: block;
      float: left;
      margin-right: 1px; }
    .digg_pagination .disabled {
      color: #726d6d;
      border: 1px solid #dddddd; }
    .digg_pagination .current {
      font-style: normal;
      font-weight: bold;
      background: rgb(109, 109, 109);
      color: white;
      border: 1px solid #69788a; }
    .digg_pagination a {
      text-decoration: none;
      color: #105cb6;
      border: 1px solid #9aafe5; }
      .digg_pagination a:hover, .digg_pagination a:focus {
        color: #000033;
        text-decoration: none;}
        // border-color: #000033; }
    .digg_pagination .page_info {
      background: #2e6ab1;
      color: white;
      padding: 0.4em 0.6em;
      width: 22em;
      margin-bottom: 0.3em;
      text-align: center; }
      .digg_pagination .page_info b {
        color: #000033;
        background: #6aa6ed;
        padding: 0.1em 0.25em; }
    .digg_pagination:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    * html .digg_pagination {
      height: 1%; }
    *:first-child + html .digg_pagination {
      overflow: hidden; 
  }