<div class="container">
    <div class="">
        <h1><%=@category.categories %></h1>
        <%# @category.blogs.ids %>
        <% @category.blogs.each do |item| %>
        <% if item.present? %>
        <div class="box p-3 mb-3">
            <p><%=item.title %>
            <p><%=item.content.to_plain_text.truncate_words(15) %></p>
            <%=link_to 'read more ',blog_path(item),class:""%>
        </div>

        <% else %>
        <p>There is no blog of this category </p>
        <% end %>
        <% end %>
    </div>