<section class="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <p class="c_title"> IdeaBreed Technology Pvt. Ltd </p>
                        <p class="c_description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, sed.
                            Neque voluptates
                            at similique officia sequi cum mollitia. Earum, harum ex nihil blanditiis eum beatae eos non
                            quos consequuntur dolores.</p>
                        <ul class="icon">
                            <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <p class="c_title"> Useful links</p>
                        <ul class="f_link">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Service</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <p class="c_title"> Contact Us </p>
                        <ul class="footer-contact">
                            <li>
                                <span>
                                    <i class="fas fa-map-marker-alt"></i>
                                </span>
                                <p>New Baneshwor, Kathmandu</p>
                            </li>
                            <li>
                                <span>
                                    <i class="fas fa-phone"></i>
                                </span>
                                <p>01-4785170</p>
                            </li>
                            <li>
                                <span>
                                    <i class="fas fa-envelope-square"></i>
                                </span>
                                <p>info@ideabreed.net</p>
                            </li>
                            <li>
                                <span>
                                    <i class="fab fa-"></i>
                                </span>
                                <p>https://ideabreed.net</p>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <p class="footer-chain">
            &copy;<%= Date.current.year%> Copyright, All rights reserved!

        </p>
    </section>
